html{
  font-size:20px;
}

body{
  font-family: "Arial","Meiryo",sans-serif;
  text-align : center ;
  line-height: 1.2;

    h1 {
        font-family: "Josefin Sans", sans-serif;
        text-shadow : 1px 1px 2px gray; 
        font-size:2rem;
        letter-spacing: 1.2em;
        border-bottom: 3px solid rgb(115,115,114)
      }
    
      .text-pink {
        color: rgb(255, 192, 203); 
      }
      .text-skyblue{
        color:skyblue;
       }

   
    .pink {
      color:pink;
    }
    .blue {
      color:skyblue;
    }
   #basic .text-bold {
    font-weight: bold;
   }
    h2 , p {
      text-align: center;
        }
  }

