body{
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align : center ;
  line-height: 1.2;

    h1 {
        font-family: "Josefin Sans", sans-serif;
        text-shadow : 1px 1px 2px gray; 
        font-size: 40px;
        letter-spacing: 1.2em;
        border-bottom: 3px solid rgb(115,115,114)
      }
    
      .text-pink {
        color: rgb(255, 192, 203); 
      }
      .text-skyblue{
        color:skyblue;
       }

    #basic{
      font-size: 20px;
    }
    .pink {
      color:pink;
    }
    .blue {
      color:skyblue;
    }
    .text-bold {
      font-weight: bold;
    }
   h2, p {
      text-align: center;
      font-size: 20px;
    }

      }

